// 公共class
html {
  font-family: sans-serif,Heiti SC,Helvetica,Droidsansfallback,Droid Sans,Dengxian,Arial; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  line-height: 1.6;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color:transparent;
  font-size:14px;
  -webkit-font-smoothing: antialiased;
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
  .cl {
  clear: both
}
.cl:after {
  content:"";
  display: block;
  clear:both;
}
.c999 {
  color: #999;
}
.red{
    color red
}
.green{
    color #67C23A
}
/*搜索工具栏*/
.toolbar{
  padding 20px
}
.btn-wapper,.table-wrapper{
  padding 0 20px
}
// 公共容器包裹内容
.wrap
  width 1200px
  margin 0 auto
  padding 20px 0
.page{
  padding 20px 0;
  text-align: right;
}
//自定义表格样式
.mtable{
  .el-table thead {
    color: #fff!important;
    background: #67727b;
    th, tr {
      background-color: inherit;
    }
  }
  .table-child .el-table{
    thead{
      color: #444!important;
    }
  }
}
